footer {
  background: url("../img/slide1.png");
  background-size: cover;
  min-height: 100px;
  .f-cover {
    min-height: inherit;
    background: rgba(117, 0, 0, 0.8);
    .top-sec {
      gap: 1rem;
      .one {
        flex: 1.4;
      }
      .two {
        flex: 6;
        h4 {
          white-space: nowrap;
        }
        form {
          input {
            max-width: 387px;
            min-height: 49px;
            border-radius: 5px 0px 0px 5px;
          }
          .form-control:focus {
            box-shadow: none;
            outline: none !important;
            -webkit-box-shadow: none;
          }
          .form-control::placeholder {
            font-size: 0.8rem;
            font-weight: 500;
          }
          .btn {
            border-radius: 0px 5px 5px 0px !important;
          }
        }
      }
      .three {
        flex: 1.6;
      }
    }
    .socials {
      span {
        width: 40px;
        height: 40px;
        border: 1px solid white;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        transition: all 0.5s linear;
        &:hover {
          background: white;
          transform: rotateX(360deg);
          i {
            color: #50ebb2;
          }
        }
      }
    }
    .list {
      span {
        font-weight: 600;
        font-size: 1rem;
      }
    }
    .layer {
      background: rgba(118, 118, 118, 0.31);
      backdrop-filter: blur(33px);
    }
  }
}
