$primary: #50ebb2;
$warning: #9e4023;
$muted: #767676;
$dark: #25283a;
$gray: rgba(255, 255, 255, 0.54);
$light: #ffffff;
$secondary: #595757;
$gradient: linear-gradient(
  105.13deg,
  #2d3fa2 -4.28%,
  rgba(152, 64, 42, 0.21) 20.25%,
  rgba(211, 11, 243, 0.5) 40.15%,
  rgba(251, 0, 101, 0.456949) 102.64%,
  rgba(158, 64, 35, 0) 107.92%,
  #2d3fa2 111.01%
);
