@import "./variable";
main {
  min-height: 100vh;
  .first {
    min-height: calc(100vh - 100px);
    background: url("./img/medical-missions-africa-stanford-childrens-1200x675-1 1.png") no-repeat,
      linear-gradient(180deg, #25283a -24.35%, rgba(37, 40, 58, 0) 95.57%);
    background-size: cover;
    &-cover {
      min-height: inherit;
      background: rgba(117, 0, 0, 0.63);
      .first-content {
        min-height: inherit;
        .btn-holder {
          button:focus {
            box-shadow: none;
            outline: none !important;
            -webkit-box-shadow: none;
          }
        }
      }
    }
  }
  .second {
    .blur {
      background: #ffffff;
      box-shadow: 0px 6px 14px 2px rgba(196, 196, 196, 0.47);
      border-radius: 10px;
      margin-bottom: 100px;
    }
  }
  .third {
    min-height: 587px;
    background: url("./img/bill-wegener-8ldqRkOk5oo-unsplash 1.png") no-repeat;
    background-size: cover;
    &-wrap {
      max-height: 587px;
      .left {
        flex: 0.7;
        max-height: 587px;
      }
      .right {
        flex: 0.3;
        &-circle {
          width: 80px;
          height: 80px;
          i {
            transform: translate(18px, -18px);
            background: #ffffff;
            border-radius: 50%;
          }
        }
      }
    }
  }
  .fourth {
    background: #25283a;
    //position: relative;
    overflow: hidden;
    // &::after {
    //   content: "";
    //   background: rgba(124, 162, 181, 0.09);
    //   mix-blend-mode: normal;
    //   position: absolute;
    //   width: 70%;
    //   height: 60%;
    //   clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    //   right: 0;
    //   bottom: 0;
    // }
    &-wrap {
      @media screen and (max-width: 768px) {
        gap: 0.8rem;
      }
      .left {
        flex: 1;
        gap: 1rem;
        @media screen and (max-width: 768px) {
          border-right: 0 !important;
        }
        .icon {
          border-radius: 10px;
          border: 4px dashed $light;
          padding: 30px 44px;
          // width: 186px;
          // height: 186px;
        }
      }
      .right {
        flex: 1;
        flex: 1;
        gap: 1rem;
        border-left: 0 !important;
        .icon {
          border-radius: 10px;
          border: 4px dashed $light;
          padding: 30px 44px;
        }
      }
    }
  }
  .fifth {
    position: relative;
    overflow: hidden;
    &::before {
      content: "";
      background: #25283a;
      mix-blend-mode: normal;
      position: absolute;
      width: 100%;
      height: 60%;
      clip-path: polygon(0 64%, 100% 0, 100% 100%, 0% 100%);
      right: 0;
      bottom: 0;
    }
    .card {
      background-color: $grey !important;
      min-height: 484px !important;
      border-radius: 10px;
    }
  }
  .seventh {
    min-height: 100vh;
    background: url("./img/annie-spratt-yrzBgqapG1I-unsplash 1.png") no-repeat,
      linear-gradient(180deg, #25283a -24.35%, rgba(37, 40, 58, 0) 95.57%);
    background-size: cover;
    &-cover {
      min-height: inherit;
      background: rgba(117, 0, 0, 0.63);
      button:focus {
        box-shadow: none;
        outline: none !important;
        -webkit-box-shadow: none;
      }
    }
  }
  .eight {
    .slick-arrow {
      display: none !important;
    }
    .testimonial-card {
      box-shadow: 0px 20px 26px rgba(54, 53, 53, 0.16);
      max-width: 388px !important;
      min-height: 389px;
      position: relative;
      border-radius: 10px;
      margin-top: 50px;
      .card-img-top {
        position: absolute;
        top: -75px;
      }
      .testimonial-card-img-wrap {
        position: relative;
        &::before {
          content: "";
          transition-duration: 1s;
          width: 50%;
          height: 70%;
          transform: rotate(220deg);
          position: absolute;
          right: 10%;
          bottom: 0;
          clip-path: polygon(0 0, 0% 100%, 100% 50%);
          border-radius: 100%;
          border: 3px solid #750000;
        }
        .testimonial-card-img {
          width: 102px;
          height: 102px;
          position: relative;
          overflow: hidden;
          border-radius: 100%;
          img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
    .testimonial-card:hover {
      box-shadow: 0px 15px 26px 6px rgba(54, 53, 53, 0.3);
    }
  }
  .nine {
    position: relative;
    &-wrap {
      &::before {
        content: "";
        width: 100%;
        z-index: -1;
        height: 60%;
        background: #7ca2b5;
        mix-blend-mode: normal;
        clip-path: polygon(0 0, 100% 60%, 100% 100%, 0% 100%);
        position: absolute;
        bottom: 0;
        left: 0;
      }
      .team-card {
        .card {
          min-height: 565px !important;
          max-width: 388px !important;
          box-shadow: 0px 14px 4px rgba(0, 0, 0, 0.15) !important;
        }
        &-wrap {
          border-radius: 10px;
          overflow: hidden;
          &:hover {
            .team-card-body {
              bottom: 0;
              .team-socials {
                transform: translateY(0);
              }
            }
          }
          img {
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
        .team-card-body {
          bottom: -10%;
          position: absolute;
          width: 100%;
          transition-duration: 0.5s;
          .team-socials {
            transform: translateY(200px);
            transition-duration: 1s;
            border-top: 0.5px solid #c4c4c4;

            .line {
              height: 2px !important;
              width: 20px;
              color: #000000 !important;
            }
          }
        }
      }
    }
  }
  .ten {
    background: rgba(80, 235, 178, 0.08);
    .gallery-card {
      overflow: hidden;
      &-right {
        position: absolute;
        text-align: right;
        right: -3rem;
        transform: rotateZ(-45deg);
        transform-origin: 0 0;
        bottom: -2rem;
      }
    }
  }
  .eleven {
    background: #c4c4c4;
    .overlay {
      display: none;
    }
    img {
      display: block;
      padding: 0 3rem;
    }
    .abs {
      letter-spacing: 0.3rem;
      color: rgba(255, 255, 255, 0.22);
      font-size: 3rem;
      left: 0;
      bottom: 0;
    }
  }
  .twelve {
    form {
      input {
        border-radius: 5px;
        border: 2px solid $secondary !important;
      }
      textarea {
        border-radius: 5px;
        border: 2px solid $secondary !important;
      }
      .form-control:focus {
        box-shadow: none;
        outline: none !important;
        -webkit-box-shadow: none;
        border: 3px solid $secondary !important;
      }
      .form-control::placeholder {
        font-size: 0.9rem;
        font-weight: 500;
      }
    }
  }
}
