@import "./style";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Qwigley");
@import url("https://fonts.googleapis.com/css2?family=Rochester");
*,
html {
  font-family: "Montserrat", sans-serif;
  .cursive {
    font-family: "Qwigley", cursive;
  }
  .rochester {
    font-family: "Rochester", cursive;
  }
}
body {
  overflow-x: hidden;
}
