.donations {
  &-1 {
    min-height: 50vh;

    background: url("../img/partner_1.png") no-repeat;
    background-size: cover;
    .donate-text {
      min-height: inherit;
    }
  }
  &-2 {
    min-height: 110vh;
    form {
      .form-control {
        border: 2px solid #c4c4c4;
        border-radius: 5px;
        background: rgba(196, 196, 196, 0.25);
      }
      .form-control:focus {
        border: 2px solid $info;
        box-shadow: none;
        outline: none !important;
        -webkit-box-shadow: none;
      }
      input[type="text"]:focus {
        background-color: $light;
      }
      input[type="email"]:focus {
        background-color: $light;
      }
      .form-control::placeholder {
        font-weight: 500;
        font-size: 1rem;
      }
      // .form-control:active {
      //   background-color: $light;
      // }
    }
    .pay-don {
      .radio {
        .form-check {
          input {
            color: $info !important;
          }
        }
      }
    }
  }
}
