.revival {
  min-height: 108vh;
  .first {
    min-height: 90vh;
    background: url("./img/medical-missions-africa-stanford-childrens-1200x675-1 2.png")
      no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    &-cover {
      min-height: inherit;
      background: linear-gradient(
        105.13deg,
        #2d3fa2 -4.28%,
        rgba(152, 64, 42, 0.21) 20.25%,
        rgba(211, 11, 243, 0.5) 40.15%,
        rgba(251, 0, 101, 0.456949) 102.64%,
        rgba(158, 64, 35, 0) 107.92%,
        #2d3fa2 111.01%
      );
      mix-blend-mode: normal;
      b {
        mix-blend-mode: color-burn;
      }
      .first-content {
        min-height: inherit;
      }
    }
    .art {
      height: 125px;
      background-image: url("./img/Vector 15.png");
      background-repeat: no-repeat;
      background-color: $info;
      background-size: 100% 100%;
    }
  }
  .second {
    .right {
      img {
        max-height: 601px;
        width: 676px;
        max-width: 100%;
        border-radius: 190px 0px 0px;
      }
    }
  }
  .fourth {
    .mg {
      margin-bottom: 111px;
    }
    &-main {
      .avatar {
        img {
          border-radius: 100%;
        }
      }
    }
    .art-two {
      height: 125px;
      background-image: url("./img/Vector 15.png");
      background-repeat: no-repeat;
      background-color: $light;
      background-size: 100% 100%;
      transform: matrix(1, 0, 0, -1, 0, 0);
    }
  }
}
