.revival {
  min-height: 108vh;
  .first {
    min-height: 90vh;
    background: url("./img/medical-missions-africa-stanford-childrens-1200x675-1 2.png")
      no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    &-cover {
      min-height: inherit;
      background: linear-gradient(
        105.13deg,
        #2d3fa2 -4.28%,
        rgba(152, 64, 42, 0.21) 20.25%,
        rgba(211, 11, 243, 0.5) 40.15%,
        rgba(251, 0, 101, 0.456949) 102.64%,
        rgba(158, 64, 35, 0) 107.92%,
        #2d3fa2 111.01%
      );
      mix-blend-mode: normal;
      b {
        mix-blend-mode: color-burn;
      }
      .first-content {
        min-height: inherit;
      }
    }
    .art {
      height: 125px;
      background-image: url("./img/Vector 15.png");
      background-repeat: no-repeat;
      background-color: $info;
      background-size: 100% 100%;
    }
  }
  .second {
    .right {
      img {
        max-height: 601px;
        width: 676px;
        max-width: 100%;
        border-radius: 190px 0px 0px;
      }
    }
  }
  .fourth {
    .mg {
      margin-bottom: 111px;
    }
    &-main {
      .avatar {
        img {
          border-radius: 100%;
        }
      }
    }
    .art-two {
      height: 125px;
      background-image: url("./img/Vector 15.png");
      background-repeat: no-repeat;
      background-color: $light;
      background-size: 100% 100%;
      transform: matrix(1, 0, 0, -1, 0, 0);
    }
  }
  .fifth {
    p {
      .concert {
        border-bottom: 12px solid #2d3fa2;
      }
    }
    .fifth-image {
      min-height: 470px;
      max-width: 100%;
      background: url("./img/fifth.png") no-repeat;
      background-size: 100% 100%;

      .fifth-cover {
        min-height: inherit;
        background: rgba(45, 63, 162, 0.48);
        .outer-circle {
          width: 112.64px;
          height: 112.64px;
          border-radius: 50%;
          border: 2px solid rgba(235, 170, 73, 0.4);
          position: relative;
          .inner-circle {
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.39);
            width: 80px;
            height: 80px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -40px 0px 0px -40px;
            i {
              color: $light;
            }
          }
        }
      }
    }
  }
  .sixth {
    p {
      .gallery {
        border-bottom: 12px solid #2d3fa2;
      }
    }
    .container {
      margin-bottom: 50px;
    }
    // .art-six {
    //   height: 125px;
    //   background-image: url("./img/Vector 15.png");
    //   background-repeat: no-repeat;
    //   background-color: $light;
    //   background-size: 100% 100%;
    //   transform: matrix(1, 0, 0, -1, 0, 0);
    // }
  }
  .seventh {
    min-height: 581px;
    background: url("./img/seventh.png") no-repeat;
    background-size: 100% 100%;
    .left {
      .left-image {
        img {
          max-width: 238px;
          height: 174.53px;
        }
      }
    }
    .right {
      .right-image {
        img {
          max-width: 94.08px;
          height: 158pxpx;
        }
      }
    }
  }
  .eight {
    .revived-card {
      background-color: $secondary;
      max-width: 847px;
      min-height: 248px;
    }
  }
  .nine {
    background: #c4c4c4;
    .overlay {
      display: none;
    }
    img {
      display: block;
      padding: 0 3rem;
    }
    .abs {
      letter-spacing: 0.3rem;
      color: rgba(255, 255, 255, 0.22);
      font-size: 3rem;
      left: 0;
      bottom: 0;
    }
  }
  .ten {
    form {
      input {
        border-radius: 5px;
        border: 2px solid $info !important;
      }
      textarea {
        border-radius: 5px;
        border: 2px solid $info !important;
      }
      .form-control:focus {
        box-shadow: none;
        outline: none !important;
        -webkit-box-shadow: none;
        border: 3px solid $info !important;
      }
      .form-control::placeholder {
        font-size: 0.9rem;
        font-weight: 500;
      }
    }
  }
}
